// Add Todo Error
.add-todo-error {
  color: $off-white;
  font-style: italic;
  margin: $m-size 0 0 0;
  padding: 0 $m-size;
}

// Add todo
.add-todo {
  display: flex;
  flex-direction: column;
  padding: $m-size;
  color: $off-white;
}

.add-todo__item {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  color: $off-white;
}
.add-todo__input {
  background: $dark-blue;
  border: none;
  color: $off-white;
  border-bottom: .3rem solid darken($dark-blue, 10%);
  flex-grow: 1;
  margin: 0 0 $s-size 0;
  padding: $s-size;
}

@media (min-width: $desktop-breakpoint) {
  .add-todo {
    flex-direction: column;
  }
  .add-todo__input {
    margin: 0 $s-size 0 0;    
  }
}
